<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Share Post</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

{% block body %}
<form action="{{ url_for('Dashboard') }}" method="post">
    <div class="form-group">
        <input class="form-control"  type="text" name="tweet" placeholder="What are you thinking?">
    </div>
    <button class="btn btn-default text-dark " type="submit">Post</button>
</form>
{% for post in timeline %}
<li class="tweet">
    {{ post.username }} at {{ post.ts }}
    {{ post.text }}
</li>
{% else %}
<h2>No posts!</h2>
{% endfor %}
{% endblock %}